@font-face {
    font-family: 'default';
    src: url('/assets/fonts/Montserrat-Bold.otf');
  }

.foreground {
    z-index: 2;
    position: absolute;
    margin: auto;
    pointer-events: none;
}
.foreground2 {
    z-index: 2;
    position: absolute;
    margin: auto;
}
.top {
    font-family: 'default';
    z-index: 3;
    position: absolute;
    margin: auto;
}

.posisi {
    left: 190px;
    top: 557px;

}
