<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>

    <ion-title class="font"><b>Timeline</b></ion-title>

    <!--
      <ion-title *ngIf="isSearchbarOpened" class="font"><b>Timeline</b></ion-title>
  
      <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)"
        (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
      <ion-button fill='gray' icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      -->

  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-grid>
      <!-- Header -->
      <ion-row class="padding">
        <!-- Profile Picture -->
        <ion-col size="3">
          <div>
            <img src="assets/image/profile_picture.png">
          </div>
        </ion-col>
        <!-- Title Nama -->
        <ion-col size="7">
          <div>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <div>
                    <font color="black" class="ion-text-center font"><b>Rexy Samuel</b></font>
                    <br>
                    <font size="-1" class="ion-text-center font">8 Nov</font>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
        <!-- Dropdown -->
        <ion-col size="2">
          <div>
            <ion-button fill='gray'>
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <!-- Content -->
      <ion-card-content class="font">
        <img class="konten-gambar-detail" src="assets/image/1.png">
        <br>
        <br>
        Gotong royong di Desa Citareyum, hari Minggu tanggal 25 Desember 2019, jam 6.00-10.00. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Suspendisse ultrices erat nunc, id pellentesque ex pellentesque at. Cras
        ornare ligula non viverra pulvinar. In sem velit, faucibus consectetur diam a, viverra volutpat nunc. Vestibulum
        at neque in enim maximus mollis. Mauris rutrum ipsum nisl, ac varius ligula sodales vel. Duis ipsum orci,
        porttitor eget velit quis, scelerisque iaculis lectus. Aliquam finibus vestibulum vulputate. Quisque venenatis
        lectus eu ipsum efficitur suscipit. Ut sit amet mattis ex. Aenean posuere neque nec velit venenatis consectetur.
        Cras metus nisl, accumsan sit amet tincidunt id, accumsan vel arcu. In hac habitasse platea dictumst. Aliquam
        tincidunt quis turpis eu ullamcorper. Fusce accumsan condimentum nunc ut euismod. Cras velit ligula, scelerisque
        in aliquam in, euismod malesuada lectus. Vivamus mattis mauris eros, a sollicitudin dolor auctor eget.
      </ion-card-content>
    </ion-grid>

    <!-- Footer -->
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="3">
          <div>
            <ion-button fill='gray'>
              <ion-icon name="md-share"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <!-- Tanggal -->
        <ion-col size="3" class="ion-padding-vertical">
          <div>
            <font size="-1" class="ion-text-center font">8 Nov <ion-icon name="md-time" style="fill: green;">
              </ion-icon>
            </font>
          </div>
        </ion-col>
        <!-- Jarak -->
        <ion-col size="3" class="ion-padding-vertical">
          <div>
            <font size="-1" class="ion-text-center font">1.7 KM <ion-icon name="pin" style="fill: green;">
              </ion-icon>
            </font>
          </div>
        </ion-col>
        <!-- Tombol More -->
        <ion-col size="3">
          <div>
            <ion-button expand="block" shape="round" size="medium" style="--background:green" (click)="timeline()">
              <font size="-2" class="ion-text-center font">More</font>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>