@font-face {
    font-family: "default";
    src: url("/assets/fonts/Montserrat-Bold.otf");
  }
  
  ion-content.background {
    --background: url("/assets/image/bg_welcome.png") 0 0/100% 100% no-repeat;
  }
  
  ion-icon.gedein {
    font-size: 30px;
  }
  
  ion-card {
    --background: white;
    border-radius: 50px;
  }
  
  ion-icon.large {
    font-size: 20px;
  }
  
  .konten-gambar-detail {
    align-items: center !important;
    width: 300px;
    height: 100px;
  }
  
  .font {
    font-family: "Montserrat";
  }
  
  .scroll-content {
    text-align: center;
    position: absolute;
    justify-content: center;
    transform: translateY(-50%);
    vertical-align: middle;
    align-items: center !important;
  }
  
  .padding {
    padding: 20px;
  }
  
  .home-background {
    background: url("/assets/image/bg_welcome.png") no-repeat fixed center;
    background-size: cover;
    z-index: -999;
  }
  
  .foreground {
    z-index: 2;
    position: absolute;
    margin: auto;
    pointer-events: none;
  }
  .foreground2 {
    z-index: 2;
    position: absolute;
    margin: auto;
  }
  .top {
    font-family: "default";
    z-index: 3;
    position: absolute;
    margin: auto;
  }
  
  .posisi {
    left: 190px;
    top: 557px;
  }
  